body {
	margin: 10px 40px;
	padding: 0;
	text-align: center;
	background: #F0F0F0 url(assets/headers/body-bg.gif) repeat-x top;
}

#wrapper {
	text-align: left;
	background: #C9CF96;
	border: 1px solid silver;
}

header {
	background: #363636 url(assets/headers/header-bg.gif) repeat-x bottom
		left;
	text-align: center;
	padding: 10px 15px 10px 13px;
}

#content-wrapper {
	background: #F0F0F0 url(assets/headers/nav-to-content-trans.gif)
		repeat-y left;
	float: right;
	width: 100%;
}

#content-inner {
	padding: 5px 15px 0px 15px;
}

nav {
	width: 82.4%;
	float: left;
	padding-left: 240px;
	background: #00CC9A;
}

footer {
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	float: left;
	background-color: #00CC9A;
	color: #FFFFFF;
}

nav ul li {
	display: inline;
}

nav ul li>a {
	padding: .2em 4em;
	background-color: #00CC9A;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	border-bottom: solid 3px #FFFFFF;
	border-top: solid 3px #FFFFFF;
}

a:link, a:visited {
	color: #FFFFFF;
}

nav ul li>a:hover {
	background-color: #999999;
	color: #000000;
}

p {
	color: #FFFFFF;
}
}