.home-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    text-align: center;
  }

  h1 {
    font-size: 60pt;
    color: #dfdfdf;
    margin: 0;
    padding: 0;
  }