:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 2rem);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-container {
  text-align: center;
}

.page-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .page-title {
    text-align: center;
  }
}
